//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
       

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NUM  1
#define SYM  2

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };

&mt {
  quick-tap-ms = <100>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <250>;
  require-prior-idle-ms = <500>;
};


/ {
     combos {
        compatible = "zmk,combos";
        COMBO( date, &m_date, 0 1 2 )
        COMBO( esc, &kp ESC, 3 4 )
    };

    macros {

        ZMK_MACRO(m_date,
                wait-ms = <30>;
                tap-ms = <40>;
                bindings = <&kp N2 &kp N0 &kp N1 &kp N1 &kp N1 &kp N1>;
        )

    };

keymap { compatible = "zmk,keymap";

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
base_layer {  label= "BASE"; bindings = <

                &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P 
                &kp A       &mt LGUI S  &mt LALT D  &mt LCTRL F &kp G           &kp H       &mt RCTRL J &mt RALT K  &mt RGUI L  &kp BSPC
    &kp ESC     &kp Z       &kp X       &kp C       &kp V       &kp B           &kp N       &kp M       &kp COMMA   &kp DOT     &kp RET     &kp DEL        
                                        &mo NUM     &mo SYM     &mt LCTL SPACE  &mo NUM     &kp LSHIFT  &kp LCTRL

>;}; // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
num_layer { label= "NUM"; bindings = <

                &kp SQT     &kp AT    &kp HASH     &kp DLLR     &kp EXCL        &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp KP_N4    &kp KP_N0
                &kp EQUAL   &kp PLUS  &kp MINUS    &kp PRCNT    &kp QMARK       &kp KP_N5   &kp KP_N6   &kp KP_N7   &kp KP_N8    &kp BSPC
    &kp ESC     &kp X       &kp STAR  &kp SLASH    &kp UNDER    &kp AMPS        &kp KP_N9   &kp LEFT    &kp UP      &kp RIGHT    &kp DOWN    &kp DEL    
                                        &trans     &kp LS(TAB)  &kp TAB         &kp LEFT    &kp UP      &kp RIGHT      

>;}; // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
sym_layer { label= "SYM";  bindings = <

                &kp DQT     &kp TILDE   &kp PIPE    &kp LBKT    &kp RBKT        &kp F1      &kp F2      &kp F3      &kp F4      &kp PSCRN   
                &kp COLON   &kp SEMI    &kp X       &kp LPAR    &kp RPAR        &kp F5      &kp F6      &kp F7      &kp F8      &kp DEL
    &kp ESC     &kp CARET   &kp BSLH    &kp X       &kp LBRC    &kp RBRC        &kp F9      &kp LEFT    &kp UP      &kp RIGHT   &kp DOWN     &kp F11 
                                        &kp X       &kp X       &kp SPACE       &kp LEFT    &kp UP      &kp RIGHT            

>;}; // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

};};

